*{
	font-family: Montserrat;
}

body{
	margin: 0;
	background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	/* text-align: center; */
	height: 100vh;
}

.fondo_ventana{

}
