*{
	font-family: Montserrat;
}

body{
	margin: 0;
}

.fondo_ventana{
	background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	/* background-color: red; */
	height: 662px;
}
