*{
	font-family: Montserrat;
}

body{
	margin: 0;
}
.portada{
	position: relative;
}
.portada img{
  position: relative;
  width: 100%;
  height: 20vh;
  /* background-size: cover; */
}

.fondo_ventana{
	background: url('../img/img_verbena9.jpg');
	background-attachment: fixed;
	/* padding: 50px 100px; */
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 662px;
}
