*{
	font-family: Montserrat;
}

body{
	margin: 0;
	background: url('../img/bosque.svg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.btn-enviar{
	background-color: #13cb74;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #00a633 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#13cb74, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn-enviar, .btn-cancelar{
  position: relative;
  margin-top: 2em;
  /* margin-bottom: -.5em; */
  left: 30%;
}

.btn-cancelar{
	background-color: #d42823;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #be1700 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#d42823, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
	margin-left: 20px;
}
.btn-enviar:hover{
	background-color: #0fa25c;
	border-bottom: solid #05822b .2rem;
}
.btn-cancelar:hover{
	background-color: #c1110c;
	border-bottom: solid #931200 .2rem;
}

.fondo_agrega_colaborador{
  /* background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center; */
	text-align: justify;
	height: 100vh;
}

.contenedor_form_colaborador{
  /* margin: auto; */
  position: absolute;
  top: 28%;
  left: 32%;
  /* width: 50%; */
	width: 45em;
  height: 22em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 2em;
}

.formulario input[type="text"],
.formulario input[type="email"]{
  position: relative;
  margin-top: 1em;

  border: none;
  border-radius: .5em;
	outline: none;
	height: 40px;
	color: #262626;
  background-color: rgba(79, 79, 79, 0.20);

	font-size: 16px;
	padding-left: 30px;

}
i{
	font-size: 1.5rem;
	color: #000000;
	font-style: normal;
	font-family: FontAwesome;
}

.formulario input[type="text"],
.formulario input[type="email"]{
  padding-right: 20px;
}

.formulario input[type="date"],
.formulario input[type="time"]{
  color: rgb(110, 110, 110);
}

.formulario .input_box label{
  position: relative;
  background-color: rgb(249, 244, 129);
	text-align: center;
  border-radius: .5em;
  margin-right: .3em;
}

.label_uno{
	padding-top: 13px;
	padding-left: 11px;
	padding-right:11px;
	padding-bottom: 13px;
}

.label_dos, .label_tres{
	padding-top: 13px;
	padding-left: 9px;
	padding-right:8px;
	padding-bottom: 12px;
}

.label_cuatro{
	/* padding-top: 13px;
	padding-left: 10.5px;
	padding-right:10.5px;
	padding-bottom: 12px; */
	padding-top: 13px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom: 12px;
}

.label_cinco{
	/* padding-top: 13px;
	padding-left: 14px;
	padding-right:14px;
	padding-bottom: 12px; */
	padding-top: 13px;
	padding-left: 12px;
	padding-right:11px;
	padding-bottom: 12px;
}
.label_seis{
	/* padding-top: 13px;
	padding-left: 14px;
	padding-right:14px;
	padding-bottom: 12px; */
	padding-top: 13px;
	padding-left: 10px;
	padding-right:9px;
	padding-bottom: 12px;
}
.label_siete{
	/* padding-top: 13px;
	padding-left: 14px;
	padding-right:14px;
	padding-bottom: 12px; */
	padding-top: 13px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom: 12px;
}
.label_ocho{
	/* padding-top: 13px;
	padding-left: 14px;
	padding-right:14px;
	padding-bottom: 12px; */
	padding-top: 13px;
	padding-left: 12px;
	padding-right:13px;
	padding-bottom: 13px;
}


.input_box:nth-child(1) input{
  width: 83%;
}
.input_box:nth-child(2) input{
  /* width: 23.85%; */
	width: 33%;
}

.input_box:nth-child(3) input{
  /* width: 26.2%; */
	width: 33%;
}

.input_box:nth-child(4) input{
  /* width: 23.7%; */
	width: 33%;
}
.input_box:nth-child(5) input{
	/* width: 69.3%; */
	width: 83%;
}

.input_box:nth-child(2) input{
	margin-right: .8em;
}

.input_box:nth-child(3) input{
	margin-right: .8em;
}
.input_box:nth-child(4) input{
  margin-right: .8em;
}
