*{
	font-family: Montserrat;
}

body{
	margin: 0;
}

.btn-enviar{
	background-color: #13cb74;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #00a633 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#13cb74, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn-enviar, .btn-cancelar{
  position: relative;
  margin-top: 2em;
  /* margin-bottom: -.5em; */
  left: 30%;
}

.btn-cancelar{
	background-color: #d42823;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #be1700 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#d42823, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
	margin-left: 20px;
}
.btn-enviar:hover{
	background-color: #0fa25c;
	border-bottom: solid #05822b .2rem;
}
.btn-cancelar:hover{
	background-color: #c1110c;
	border-bottom: solid #931200 .2rem;
}

.fondo_agrega_producto{
  background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: justify;
	height: 100vh;
}

.contenedor_form_producto{
  /* margin: auto; */
  position: absolute;
  top: 28%;
  left: 32%;
  width: 40em;
  height: 19em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 2em;
}

.formulario input[type="text"]{
  position: relative;
  margin-top: 1em;

  border: none;
  border-radius: .5em;
	outline: none;
	height: 40px;
	color: #262626;
  background-color: rgba(79, 79, 79, 0.20);

	font-size: 16px;
	padding-left: 30px;

}

.formulario input[type="file"]{
	position: relative;
  margin-top: 1.6em;

  border: none;
  border-radius: .5em;
	outline: none;
	height: 40px;
	color: #262626;
  /* background-color: rgba(79, 79, 79, 0.20); */

	font-size: 16px;
	padding-left: 3px;
	width: 35em;
}

.formulario input[type="text"]{
  padding-right: 20px;
}

.formulario input[type="date"],
.formulario input[type="time"]{
  color: rgb(110, 110, 110);
}

.formulario .input_box label{
  position: relative;
  background-color: rgb(249, 244, 129);
  border-radius: .5em;
}

/* .label_uno */
.formulario .input_box:nth-child(1) label{
	margin-right: .3em;
	padding-top: 13px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom: 11px;
}

.label_dos{
	margin-right: .3em;
	padding-top: 13px;
	padding-left: 6px;
	padding-right:6px;
	padding-bottom: 11px;

	}

.label_tres{
		margin-right: .3em;
		padding-top: 13px;
		padding-left: 8px;
		padding-right:8px;
		padding-bottom: 11px;
}

.label_cuatro{
	margin-right: .3em;
	padding-top: 13px;
	padding-left: 13px;
	padding-right:13px;
	padding-bottom: 11px;
}

.label_cinco{
	margin-right: .3em;
	padding-top: 13px;
	padding-left: 10px;
	padding-right:5px;
	padding-bottom: 11px;
}

.label_seis{
	margin-right: .3em;
	padding-top: 13px;
	padding-left: 10px;
	padding-right:8px;
	padding-bottom: 11px;
}

.input_box:nth-child(1) input{
  width: 83%;
}
.input_box:nth-child(2) input{
	width: 15.2%;
}

.input_box:nth-child(2) select{
	margin-top: 1em;
	margin-right: .8em;
	width: 23%;
	padding-top: 12px;
	padding-bottom: 11px;
	border-radius: .5em;
	outline: none;
	border: none;
	background-color: rgba(79, 79, 79, 0.20);
	/* color: rgb(110, 110, 110); */
	font-size: 16px;
	padding-left: 10px;
}
.input_box:nth-child(2) select:focus{
	/* border-bottom: : solid #00a633 .2rem; */
	border-radius: .5em .5em .0em 0;
}

.categoria option:nth-child(1){
	background-color: rgb(80, 80, 80);
	color: white;
	font-weight: 400;
}

.input_box:nth-child(3) input{
	width: 82%;
}

.input_box:nth-child(4){
	float: left;
}


.input_box:nth-child(2) input,
.input_box:nth-child(3) input,
.input_box:nth-child(4) input{
  margin-right: .8em;
}

i{
	font-size: 1.5rem;
	color: #000000;
	font-style: normal;
	font-family: FontAwesome;
}


.input_box img{
	width: 190px;
	height: 190px;
	border-radius: 10px;
	margin-top: 0;
	padding: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	/* margin-bottom: 0; */
}
