*{
	font-family: Montserrat;
}

body{
	margin: 0;
}


.marco_portada{
	position: fixed;
	background: url('../img/img_verbena8.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
  height: 20vh;
}

/* .portada img{
  position: relative;
  width: 100%;
  height: 20vh;
} */

/* .fondo_ventana{
	background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 662px;
} */

.caja_fondo{
  position: fixed;
  float: left;
  width: 15em;
  height: 100vh;
	top: 20%;
}

.caja_fondo_der{
	position: fixed;
  /* float: right; */
	width: 20em;
	height: 15em;
	top: 20%;
}

.derecho{
	position: fixed;
	/* float: right; */
	left: 70%;
	background-color: white;
	transition: .5s;
	width: 25em;
	height: 20em;
	top: 21.7%;
	box-shadow: 0px 0px 20px -6px black;
}

.caja_fondo_der_dos{
	position: fixed;
  /* float: right; */
	width: 25em;
	height: 15em;
	top: 20%;
}

.derecho_dos{
	position: fixed;
	/* float: right; */
	left: 70%;
	background-color: white;
	transition: .5s;
	width: 25em;
	height: 10em;
	top: 74%;
	box-shadow: 0px 0px 20px -6px black;
}
.izquierdo{
  position: fixed;
  float: left;
  background-color: white;
	transition: .5s;
  width: 15em;
  height: 100vh;
  top: 20%;
  box-shadow: 0px 0px 20px -6px black;
}


.izquierdo nav{
  margin-top: -15px;
}

.izquierdo li{
  list-style: none;
  padding-top: .7em;
  padding-bottom: .7em;
  border-style: solid;
	border-width: 1px;
	border-color: rgb(92, 92, 92);
	border-top: none;
	border-left: none;
	border-right: none;
  margin-left: -2.5em;
}

.izquierdo a:hover:not(.cerrar){
  color: rgb(30, 230, 218);
  font-weight: bold;
}

.caja_fondo .cerrar{
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 22%;
}

.estadistica{
  margin: auto;
	margin-top: 1.2em;
  display: flex;
  flex-wrap: wrap;
}

.estadistica p{
	font-size: 3em;
	margin-top: -12px;
	padding-top: 9px;
	margin-bottom: -1px;
	color: rgb(43, 48, 218);
	font-weight: bold;
}

.estadistica label{
	padding-bottom: 9px;
	color: rgb(69, 7, 186);
}
.estadistica_cliente , .estadistica_colaboradores{
	width: 119.3px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(145, 145, 145);
	top: -20%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.estadistica_cliente{
	border-left: none;
	border-right: none;
}

.estadistica_colaboradores{
	border-right: none;
}

.cerrar:hover{
  color: rgb(236, 5, 74);
}


.izquierdo a{
  text-decoration: none;
  color: black;
  padding-left: 2em;
}

.img_perfil{
  background-image: url(../img/luis.jpg);
  margin: auto;
	margin-bottom: -2em;
	width: 120px;
	height: 120px;
	background-size: cover;
	border-radius: 50%;
	position: relative;
	top: -3.3em;
  box-shadow: 0px 0px 30px -6px black;
}

.label_img{
	color: black;
	font-weight: bold;
	margin-left: 20%;
}
