*{
	font-family: Montserrat;
}

body{
	margin: 0;
}


.marco_portada{
	position: fixed;
	/* position: absolute; */
	background: url('../img/img_verbena8.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
  height: 20vh;
	text-align: center;
}

.marco_portada h1{
	color: white;
	font-size: 6em;
	margin-top: .1em;
}


.caja_fondo{
  position: fixed;
  float: left;
  width: 15em;
  height: 100vh;
	top: 20%;
}

.izquierdo{
  position: fixed;
  float: left;
  background-color: white;

	/* background: url('../img/img_verbena21.jpg');
	background-size: cover;
	background-position: center; */

	transition: .5s;
  width: 15em;
  height: 100vh;
  top: 20%;
  box-shadow: 0px 0px 20px -6px black;
}


.izquierdo nav{
  margin-top: -15px;
}

/* MODIFICA EL ESPACIO DE LOS LI */
.izquierdo li{
  list-style: none;
	margin: 0;
  /* padding-top: .7em;
  padding-bottom: .7em; */

	/* padding-top:8px;
  padding-bottom: 8px; */

	padding-top: .5em;
  padding-bottom: .5em;

  border-style: solid;
	border-width: 1px;
	border-color: rgb(92, 92, 92);
	border-top: none;
	border-left: none;
	border-right: none;
  margin-left: -2.5em;
	/* para las lineas toquen el borde la pantalla */
}

.izquierdo li:nth-child(1){
	margin-top: 1em;
}

.izquierdo a:hover:not(.cerrar){
  color: rgb(30, 230, 218);
  font-weight: bold;
}

.caja_fondo .cerrar{
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 22%;
}

/* CAJA DE LA ESTADISTICA */
.estadistica{
  margin: auto;
	margin-top: .5em;
	/* margin-top: 1.2em; */
	margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

/* NUMEROS OBTENIDOS DE LA BD */
.estadistica .pestadistica{
	font-size: 3em;
	margin-top: -12px;
	padding-top: 12px;
	margin-bottom: -.6em;
	color: rgb(43, 48, 218);
	font-weight: bold;
}

/* .estadistica label{
	padding-bottom: 9px;
	color: rgb(69, 7, 186);
} */
/* ETIQUETA DEBAJO DE LA BD */
.petiqueta{
	/* padding-bottom: 9px; */
	color: rgb(69, 7, 186);
	font-size: 13px;
	padding-top: 5px;
	margin-bottom: 8px;
}

.estadistica_cliente , .estadistica_colaboradores{
	width: 119.3px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(145, 145, 145);
	top: -20%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.estadistica_cliente{
	border-left: none;
	border-right: none;
}

.estadistica_cliente_col{
	width: 170.3px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(145, 145, 145);
	top: -20%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.estadistica_cliente_col{
	border-left: none;
	border-right: none;
}
.estadistica_colaboradores{
	border-right: none;
}

.cerrar:hover{
  color: rgb(236, 5, 74);
}


.izquierdo a{
  text-decoration: none;
  color: black;
  padding-left: 2em;
}

.img_perfil{
  background-image: url(../img/luis.jpg);
  margin: auto;
	margin-bottom: -2em;
	width: 120px;
	height: 120px;
	background-size: cover;
	border-radius: 50%;
	position: relative;
	top: -3.3em;
  box-shadow: 0px 0px 30px -6px black;
}

/* .label_img{
	color: black;
	font-weight: bold;
	/* margin-left: 20%;
} */

.usuario{
	text-align: center;
	color: black;
	font-weight: bold;
}

.label_img{
	margin-top: -1em;
}
