*{
	font-family: Montserrat;
}

body{
	margin: 0;
  background: url('../img/bosque.svg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.seccion_tabs{
  text-align: center;
  padding: 50px 100px;
  height: 690px;
}

.tabs{
  margin-top: 4.5em;
  height: 30em;
  width: 60em;
  margin-left: 6em;
  border-radius: .5em;
}
