*{
	font-family: Montserrat;
}

body{
	margin: 0;
}

.btn-enviar{
	background-color: #13cb74;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #00a633 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#13cb74, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn-enviar, .btn-cancelar{
  position: relative;
  margin-top: 2em;
  /* margin-bottom: -.5em; */
  left: 30%;
}

.btn-cancelar{
	background-color: #d42823;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #be1700 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#d42823, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
	margin-left: 20px;
}
.btn-enviar:hover{
	background-color: #0fa25c;
	border-bottom: solid #05822b .2rem;
}
.btn-cancelar:hover{
	background-color: #c1110c;
	border-bottom: solid #931200 .2rem;
}

.fondo_agrega_evento{
  background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: justify;
	height: 100vh;
}

.contenedor_form_evento{
  /* margin: auto; */
  position: absolute;
  top: 35%;
  left: 32%;
  width: 50%;
  height: 18em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 2em;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="time"]{
  position: relative;
  margin-top: 1em;

  border: none;
  border-radius: .5em;
	outline: none;
	height: 40px;
	color: #262626;
  background-color: rgba(79, 79, 79, 0.20);

	font-size: 16px;
	padding-left: 30px;

}

.formulario input[type="text"]{
  padding-right: 20px;
}

.formulario input[type="date"],
.formulario input[type="time"]{
  color: rgb(110, 110, 110);
}

.formulario .input_box label{
  position: relative;
  background-color: rgb(249, 244, 129);
  padding: .72em;
  padding-right: 1em;
  border-radius: .5em;
  /* font-weight: bold; */
  font-weight: 500;
  margin-right: .3em;
}

.formulario input[type="text"]{
  width: 60%;
}
