*{
	font-family: Montserrat;
}

body{
	margin: 0;
}

.btn-enviar{
	background-color: #13cb74;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #00a633 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#13cb74, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn-enviar, .btn-cancelar{
  position: relative;
  margin-top: 2em;
  /* margin-bottom: -.5em; */
  left: 30%;
}

.btn-cancelar{
	background-color: #d42823;
  padding: 10px;
  margin: -2.3px;
  height: 20%;
  border: none;
  border-bottom: solid #be1700 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 110px;
  color: rgba(#d42823, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
	margin-left: 20px;
}
.btn-enviar:hover{
	background-color: #0fa25c;
	border-bottom: solid #05822b .2rem;
}
.btn-cancelar:hover{
	background-color: #c1110c;
	border-bottom: solid #931200 .2rem;
}

.fondo_agrega_evento{
  background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: justify;
	height: 100vh;
}

i{
	font-size: 1.5rem;
	color: #000000;
	font-style: normal;
	font-family: FontAwesome;
}

.contenedor_form_evento{
	position: absolute;
  top: 28%;
  left: 32%;
	width: 45em;
  height: 15em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  padding: 2em;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="time"]{
  position: relative;
  margin-top: 1em;

  border: none;
  border-radius: .5em;
	outline: none;
	height: 40px;
	color: #262626;
  background-color: rgba(79, 79, 79, 0.20);

	font-size: 16px;
	padding-left: 30px;

}

.formulario input[type="text"]{
  padding-right: 20px;
}

.formulario input[type="date"],
.formulario input[type="time"]{
  color: rgb(110, 110, 110);
}

.formulario .input_box label{
  position: relative;
  background-color: rgb(249, 244, 129);
  border-radius: .5em;
  font-weight: 500;
}

.formulario .input_box:nth-child(1) label{
	margin-right: .3em;
}

.formulario .input_box:nth-child(2) label{
	margin-right: .3em;
}

.formulario .input_box:nth-child(3) label{
	margin-right: .3em;
}


.label_uno,.label_dos,.label_tres,.label_cuatro{
	padding-top: 13px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom: 11px;
}

.label_cinco{
	padding-top: 13px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom: 13px;
}
.label_cinco i{
}
.input_box:nth-child(1) input,.input_box:nth-child(3) input{
  width: 84%;
}

.input_box:nth-child(2) input{
	width: 20.75%;
	margin-right: .3em;
}


.formulario input[type="date"]{
  font-size: 14px;
}
