*{
	font-family: Montserrat;
}

body{
	margin: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

ul.menu_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

ul.menu_ul li{
	float: left;
	}

ul.menu_ul li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 26px;
	text-decoration: none;
}

ul.menu_ul li a:hover:not(.active){
	background-color: #111;
}

ul.menu_ul li a.active{
	background-color: rgba(0,0,0, 0.8);
	padding-left: 7em;
	padding-right: 7em;

}

.img_right{
	width: 100%;
	max-width: 46px;
	padding-top: 6px;
	padding-right: 25px;
}

ul.menu_ul img{
	float: right;
}

.img_menu:hover{
	background-color: #111;
}

@media screen and (max-width: 1120px){
	/*= CONFIG. DEL HEADER CUANDO SCREEN < 1120px =*/
	ul.menu_ul li.right,	ul.menu_ul li{  /*Tag li de la clase right que pertenece al tag ul del menu_ul , Resto de tag li que pertenecen al menu_ul, */
		float: none;                        /*Quita la propiedad de flotado a los elementos.*/
	}

	header{
		height:0;
		position: relative;
	}

	.img_right{            /*Tag img de clase img_right*/
  position: absolute;    /*Se coloca en relación con el elemento anterior ya posicionado no estático.*/
	max-width: 46px;       /*Ancho máximo de 46px.*/
	left: 0;               /*Posiciona los elementos a la izquierda en cero.*/
	right: 0;              /*Posiciona los elementos a la derecha en cero.*/
	margin: auto;          /*Añade margen automático*/
	padding-right: 0px;    /*Añade borde interior derecho de 0px;*/
}

.img_menu{                /*Tag div de clase menú*/
		padding-bottom: 60px; /*Añade un borde interior inferior de 60px.*/
	}
/*= FIN CONFIG. DEL HEADER_UNO =*/
}

@media screen and (max-width: 480px){
	/*= CONFIG. DEL HEADER_UNO CUANDO SCREEN < 320px =*/
		ul.menu_ul li a.active{ /*Tag a con clase active que pertenece a tag li del tag ul con clase menu_ul.*/
			padding-left:  0;     /*Coloca margen interno izquierdo en cero.*/
			padding-right: 0;     /*Coloca margen interno derecho en cero.*/
		}
	/*= FIN CONFIG. DEL HEADER_UNO =*/
}
