*{
	font-family: Montserrat;
}

body{
	margin: 0;
}

.fondo_iniciosesion{
	background: url('../img/img_verbena6.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 662px;
}

.div_login{
	position: absolute;
	top: 22.5em;
	/* top: 50%; */
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	box-sizing: border-box;
	background-attachment: fixed;
	background: transparent;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: .5s;
}

.div_cristal{
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	background: rgba(255,255,255,.1);
	background-attachment: fixed;
	border-radius: 5px;
	transition: .5s;
}

.img_usuario_login{
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	width: 9em;
}

.fondo_iniciosesion h3{
	margin: 0;
	padding: 0 0 20px;
	color: #262626;
	text-align: center;
	/* font-size: 80em; */
}

.div_login input{
	width: 100%;
	margin-bottom: 20px;
}

.div_login input[type="text"],
.div_login input[type="password"]{
	border: none;
	border-bottom: 2px solid #262626;
	outline: none;
	height: 40px;
	color: #262626;
	background: transparent;
	font-size: 16px;
	padding-left: 30px;
	box-sizing: border-box;
}

.placeholder::placeholder
{
	color: rgba(0,0,0,.5);
}

.input_box{
	position: relative;
}

.input_box span{
	position: absolute;
	top: 10px;
	left: 0.6em;
	color: #262626;
}

.input_box i{
	font-style: normal;
	font-family: FontAwesome;
}

.div_login input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	background: #ed292a;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
}

.div_login input[type="submit"]:hover{
	background: #bb0001;
	transition: .5s;
}

.div_login a{
	color: #262626;
	padding-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
}
.div_login a:hover{
	color: #1d40d6;
}

.div_cristal:hover{
	transform: translate(12px, 12px);
	box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.div_login:hover{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
	background: rgba(255,255,255,1);
}
