body{
	margin: 0;
	font-family: Montserrat;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*Afecta a todo el menú superior*/
ul.menu_ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* position: fixed; */
	background-color: rgba(0, 0, 0, 0.5);
}


ul.menu_ul li{
	float: left;
	/*border-style: solid;
	border-top: 1px;
	border-left: 1px;
	border-color: white; */
	}

ul.menu_ul li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 26px;
	text-decoration: none;
}

ul.menu_ul li a:hover:not(.active){
	background-color: #111;
	/* background-color: rgb(2, 8, 47); */
}

ul.menu_ul li a.active{
	background-color: rgba(0,0,0, 0.8);
	padding-left: 7em;
	padding-right: 7em;

}

.seccion_1{
  background: url('../img/img_verbena1.jpg');
  background-color: rgb(110, 201, 169);
	background-attachment: fixed;
	padding: 50px 100px;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 662px;
}

.seccion_2{
  background: url('../img/img_verbena2.jpg');
  background-color: rgb(110, 201, 169);
	background-attachment: fixed;
	padding: 50px 100px;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 662px;
}

.seccion_3{
  background: url('../img/img_verbena3.jpg');
  background-color: rgb(110, 201, 169);
	background-attachment: fixed;
	padding: 50px 100px;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 662px;
}

.foot_uno{
	text-align: center;
	color: white;
	font-style: normal;
	font-weight: normal;
	padding: 2.5em;
	float: left;
}

.foot_ul{
	list-style-type: none;
	text-align: left;
	font-size: 15px;
	line-height: 5px;
}

.foot_li{
	font-weight: bold;
}

.img_foot{
	width: 100%;
	max-width: 46px;
	padding-top: 6px;
	padding-right: 10px;
}

.foot_p{
	font-size: 15px;
	width: 14em;
	text-align: justify;
}

.foot_uno input{
	width: 13em;
}

footer{
	/* padding: 10em; */
	overflow: hidden;
	background: rgb(35, 31, 36);
	float: center;
}

.img_right{
	width: 100%;
	max-width: 46px;
	padding-top: 6px;
	padding-right: 25px;
}

ul.menu_ul img{
	float: right;
}

.img_menu:hover{
	background-color: #111;
}

/* INICIO */

/*Afecta a todo el formulario*/
.form_sub {
	/* padding: 3px; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	float: left;
}

.btn_submit{
	background-color: #EFEFEF;
	padding: 10px;
	margin: 10px;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
	width: 100%;
	max-width: 120px;
	border-bottom: none;
	color: rgb(0, 0, 0)white;
	border-radius: 4px;
	/* box-shadow: 2px 2px 5px #aaaaaa; */
}

.btn_submit:hover {
	background-color: #4c4c4d;
	color: white;
}

.input{
	background-color: #474040;
	padding: 10px;
	margin: 10px;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
	color: white;
}

@media screen and (max-width: 1110px) {
	ul.menu_ul li.right,	ul.menu_ul li{
		float: none;
	}

	.active{
		font-weight: bold;
		font-size: 13px;
	}

	header{
		height:0;
		position: relative;
	}

	footer{
		float: none;
		text-align: center;
	}

	.form_sub {
		/* padding: 3px; */
		display: flex;
		flex-direction: column;
	}

	.img_right{
	max-width: 46px;
  position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	padding-right: 0px;
}
	.img_menu{
		padding-bottom: 60px;
	}

}
