
*{
	font-family: Montserrat;
}

body{
	margin: 0;
}


.seccion_1{
  /* background: url('../img/img_verbena1.jpg'); */
	background: url('../img/img_verbena3.jpg');
	background-attachment: fixed;
	padding: 50px 100px;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 690px;
}

.headObra{
	color: white;
	font-size: 4em;
	font-weight: bold;
	/* margin-top: 2px; */
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: black 0.1em 0.1em 0.2em
}

.contenedor_obras{
	margin-left: 1.5em;
}

.cajaObra{
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	margin-left: -3em;
}

.item-obra{
  background-color: white;
  width: 150px;
  height: 235px;
  border-radius: 5px;
  text-align: center;

	margin-left: 20px;
	margin-bottom: 20px;
}

.item-obra img{
	width: 150px;
	height: 150px;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
}

.item-obra:hover{
  transform: scaleX(1.1) scaleY(1.1);
}

.nombre{
	font-size: 12px;
	font-weight: bold;
	margin: 0;
  margin-bottom: 2px;
}

.precio{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2px;
}

.add{
  background-color: #13cb74;
  padding-top: 3px;
  margin: -2.3px;
  height: 12%;
  border: none;
  border-bottom: solid #00a633 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 45px;
  color: rgba(#13cb74, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
}
.info{
  background-color: #0073eb;
  padding-top: 3px;
  margin: -2.3px;
  margin-right: 3px;
  height: 12%;
  border: none;
  border-bottom: solid #0152a7 .2rem;
  transition: all .5s;
  width: 100%;
  max-width: 45px;
  color: rgba(#13cb74, 0.20);
	outline: none;
  border-radius: 6px;
  font-weight: bold;
}

.add:hover{
  background-color: #0fa25c;
	border-bottom: solid #05822b .2rem;
}

.info:hover{
  background-color: #0152a7;
	border-bottom: solid #003e80 .2rem;
}

.item-obra i{
  color: white;
}

.obra_box{
	margin-top: 4.5em;
	background-color: white;
	height: 30em;
	width: 60em;

	margin-left: 6em;
	border-radius: .5em;
}

.info_box{
	margin-left: 4em;
	float: left;
}

.nombre_obra{
	margin-top: 4.5em;
	text-align: center;
	width: 25em;
	border: 3px;
	border-style: solid;
	border-color: rgba(103, 103, 103, 0.5);
	border-top: none;
	border-left: none;
	border-right: none;
	/* background-color: red; */
}

.datos_obra{
	padding-top: 2em;
	text-align: justify;
	margin-top: 1em;
	padding-left: 20px;
	border-radius: .5em;
	padding-bottom: 2em;
	margin-bottom: 1em;
	background-color: rgba(0, 0, 0, 0.1);
}
.img img{
	float: left;
	margin-left: 30px;
	margin-top: 2.5em;
	width: 25em;
	height: 25em;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 1em;
	padding: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
